.container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 7px;
    padding: 100px;
    justify-content: center;
}

.container > div{
    border: 1px solid #f00;
    border-left: 7px solid #f00;
    border-bottom: 7px solid #f00;
    
}

.item5 {
    grid-column: 5/ span 2;
}

.item6 {
    grid-column: 1/ span 2;
}

.item7 {
    grid-column: 3/ span 2;
}

.item12 {
    grid-column: 3/ span 2;
}

.item13 {
    grid-column: 5/ span 2;
}