.container {
    display: grid;
    grid-template-columns: 150px 200px 100px 100px 130px 20px;
    grid-template-rows: 100px 200px;
    grid-gap: 10px;
    justify-content: center;
    background-color: rgb(171, 200, 218);
}
.container > div {
    /* border: 2px solid rgb(171, 200, 218); */
}
.item1 {
    background-color: rgb(224, 22, 90);
}
.item2 {
    background-color: rgb(103, 179, 209);
}
.item3 {
    background-color: seagreen;
}
.item4 {
    background-color: rgb(50, 74, 185);
    grid-row: 1/ span 2;
    grid-column: 4;
}
.item5 {
    background-color: blueviolet;
    grid-row: 1/ span 2;
    grid-column: 5;
}
.item6 {
    background-color: cadetblue;
    grid-row: 1/ span 2;
    grid-column: 6;
}
.item7 {
    background-color: orange;
}
.item8 {
    background-color: palevioletred;
    grid-column: 2/ span 2;
}
